br/bin
doc/*/*.aux
doc/*/*.fdb_latexmk
doc/*/*.fls
doc/*/*.log
doc/*/*.nav
doc/*/*.out
doc/*/*.snm
doc/*/*.synctex.gz
doc/*/*.toc
doc/*/*.vrb
front/node_modules
fw/bin
*.opendb
.vs
.vscode
.vs/*
.vscode/*
node_modules/*