body {
    /*background-color: ghostwhite;*/
    background-color: #2d2d2d;
}

/*
button {
    border: 5px solid #00CC66;
    border-radius: 16px;
}
*/

.top_row {
    background-color: #DFFEE4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
    border-radius: 16px 16px 0px 0px;
    padding: 0.75%;
}

    /* Title Field */
    .top_row td:first-child {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
    }

    /* Time and Date field */
    .top_row td:last-child {
        font-size: 14px;
        font-weight: 400;
        text-align: right;
    }

.plant_selection {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-right: 5px solid #00CC66;
    border-left: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
}

    .plant_selection a {
        color: blue;
        text-align: center;
        padding: 3%;
        text-decoration: none;
    }

        .plant_selection a:hover {
            color: dodgerblue;
        }

.scrollmenu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 95%;
}

    .scrollmenu a {
        display: inline-block;
        color: blue;
        text-align: center;
        padding: 1%;
        text-decoration: none;
        height: auto;
        width: auto;
    }

        .scrollmenu a:hover {
            color: dodgerblue;
        }

.box {
    display: inline-block;
    background-color: ghostwhite;
    border: 5px solid #00CC66;
    border-radius: 16px;
    /*width: 20%;*/
    /*height: 40%;*/
    margin: 0.5%;
}

    .box img {
        width: 35%;
    }

        .box hover {
            background-color: bisque;
        }

.box_chart {
    display: inline-block;
    background-color: ghostwhite;
    border: 5px solid #00CC66;
    border-radius: 16px;
    margin: 0.5%;
}

    .box_chart img {
        width: 100%;
    }

    .box_chart hover {
        background-color: bisque;
    }

.boxnonodes {
    display: contents;
    background-color: bisque;
    margin: 3%;
    padding: 3%;
}

.bot_row {
    background-color: #DFFEE4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    border: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
    border-radius: 0px 0px 16px 16px;
    padding: 0.75%;
}

#plant_detail_configuration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.plant_detail_configuration_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plant_detail_configuration_heading {
    margin: 10px;
}

.plant_detail_configuration_label {
    margin: 10px;
    text-align: left;
}

.plant_detail_configuration_textbox {
    text-align: right;
}

.plant_detail_configuration_button {
    margin: 10px;
}

#watering_schedules_list {
    width: 250px;
    height: 250px;
}

#plant_detail_configuration_explanations {
    inline-size: 400px;
    white-space: initial;
    word-break: normal;
}
