body {
    /*background-color: ghostwhite;*/
    background-color: #2d2d2d;
}

/*
button {
    border: 5px solid #00CC66;
    border-radius: 16px;
}
*/

.topRow {
    background-color: #DFFEE4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
    border-radius: 16px 16px 0px 0px;
    padding: 0.75%;
}

    /* Title Field */
    .topRow td:first-child {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
    }

    /* Time and Date field */
    .topRow td:last-child {
        font-size: 14px;
        font-weight: 400;
        text-align: right;
    }

.plantSelection {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-right: 5px solid #00CC66;
    border-left: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
    padding: 0.75%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}

    div.scrollmenu a {
        display: inline-block;
        color: blue;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

        div.scrollmenu a:hover {
            color: dodgerblue;
        }

div.box {
    background-color: ghostwhite;
    border: 5px solid #00CC66;
    border-radius: 16px;
    width: 20%;
    height: 40%;
    margin: 1%;
}

div.box img {
    width: 35%;
}

    div.box hover {
        background-color: bisque;
    }

.botRow {
    background-color: #DFFEE4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    border: 5px solid #00CC66;
    color: #000000;
    border-spacing: 0;
    border-radius: 0px 0px 16px 16px;
    padding: 0.75%;
}
