<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lattice-Watering</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body onload="startup(1)">
    <table class="topRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td>Lattice-Watering the project</td>
            <td><div id="displayDateTime"></div></td>
        </tr>
    </table>

    <table class="plantSelection" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">
                <div class="scrollmenu" id="scrollmenu">
                     <div class="boxnonodes">
                        <h1>No nodes in reach</h1>
                    </div> 
                </div>
            </td>
        </tr>
    </table>

    <table class="botRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">
                <button type="button" value="Add" onclick="refreshPlants()">Refresh Show Plants</button>Ver: Beta
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
