<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lattice-Watering</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body onload="startup()">
    <table class="topRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td>Lattice-Watering the project</td>
            <td><div id="displayDateTime"></div></td>
        </tr>
    </table>

    <table class="plantSelection" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">
                 <div class="scrollmenu" id="scrollmenu">
                    <!--<div class="box">
                        Plant 1<br />
                        <img src="/img/placeholder_plant.png" alt="Plant"><br />
                        Humidity: n/a %<br /><br />
                        <form action="/pumpToggle" method="POST">
                            <input type="text" name="pumpIP" placeholder="127.0.0.1" value="127.0.0.1" /><br /><br />
                            <input type="submit" name="pumpOn" value="Turn Pump On">
                            <input type="submit" name="pumpOff" value="Turn Pump Off">
                        </form>
                    </br>
                        <form action="/calibrate_sensor" method="POST">
                            <input type="text" name="wet_value" value="WET VALUE" size="10">
                            <input type="text" name="wet_value" value="DRY VALUE" size="10"></br>
                            <input type="submit" name="set_value" value="SET VALUE">
                        </form>
                        <a id="plantSettings" title="Go back to all plants." href="/">Go back!</a><br />
                    </div>--> 
                </div>
                <div id="plantChart"></div>
            </td>
        </tr>
    </table>

    <table class="botRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">Ver: Beta</td>
        </tr>
    </table>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
