<div class="container">
    <table class="topRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td>WataPlant the project</td>
            <td><div id="displayDateTime"></div></td>
        </tr>
    </table>

    <table class="plantSelection" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">
                <div class="scrollmenu">
                    <div class="box">
                        Plant 1<br />
                        <img src="/img/placeholder_plant.png" alt="Plant"><br />
                        Humidity: n/a %<br />
                        Temperature: n/a C<br />
                        <form action="/pumpToggle" method="POST">
                            <input type="text" name="pumpIP" placeholder="127.0.0.1" /><br /><br />
                            <input type="submit" name="pumpOn" value="Turn Pump On">
                            <input type="submit" name="pumpOff" value="Turn Pump Off">
                        </form>

                        <p><input type="text" id="pumpIP" value="" placeholder="127.0.0.1" /></p>
                        <button type="button" onclick="pumpToggle(1)">Turn Pump On</button>
                        <button type="button" onclick="pumpToggle(0)">Turn Pump Off</button><br />

                        <!--
                            <p class="submitToggle">
                                <input type="submit" name="pumpToggleOn" value="Turn Pump On">
                                <input type="submit" name="pumpToggleOff" value="Turn Pump Off">
                            </p>
                            <script>
                                document.getElementById("pumpToggleOn").addEventListener("click", async (e) => {
                                    try {
                                        let response = await fetch("/pumpToggleOn");
                                        let data = await response.json();
                                        //document.getElementById("insult").innerHTML = data.insult;
                                        console.log('Turning pump on at ip:' + response);
                                    } catch (e) {
                                        console.log(e);
                                        alert("No IP found.")
                                    }
                                });
                            </script>
    -->
                        <a id="plantSettings" title="Go back to all plants." href="/">Go back!</a><br />
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="botRow" cellpadding="1" cellspacing="1" style="width: 100%">
        <tr>
            <td colspan="2">Ver: Alpha 1.0</td>
        </tr>
    </table>
</div>